.venv/
data/
__pycache__/
*/__pycache__/
pretrained_pipelines/

*.ogg
*.wav
*.flac
*.mp3
env.*
*.pt
*.aup
*.ckpt
*.model
data/db_02-03-2023/V8DcTChKFF_data/info.txt
data/db_02-03-2023/V8DcTChKFF_data/raw.dat
*.json
training_data/